
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/tmp/
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdCXX/tmp/
cmake-build-debug/CMakeFiles/CMakeTmp/
/Users/Hesham/CLionProjects/Spectrum/.idea/workspace.xml
/Users/Hesham/CLionProjects/Spectrum/.idea/vcs.xml
/cmake-build-debug/
